#navbar {
    height: 100%;
    top: 0;
    top: 0;
  }

  @media (max-width: 600px) {
    #main-header {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0;
      max-width: 95%;
      max-height: 400px;
    }
  
    #navbar {
      width: 100%;
      margin: 0;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      padding: 2rem 1rem;
      margin-top: 410px;
    }
  
  }